$color1: #F2F2F2;
$color2: #C9D3F2;
$color3: #576EF2;
$font1: #151515;
$font2: #333;

//@import "management.scss";

@media (min-width: 1200px){
  body{
    max-width: 1500px;
    font-family: 'SUITE Variable', sans-serif;
    margin:0 auto;
    padding: 30px;
    height: 1028px;
    .blind{
      display: none;
    };
    header{
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
      h1{
        display:none;
      }
      .manageBtn{
        position: relative;
        z-index: 1;
        width: 48px;
        height: 48px;
        border: 1px solid $color3;
        background-color: #fff;
        border-radius: 10px;
        background: url('../Imgs/managementIcon.png') no-repeat center;
        background-size: cover;
        transition: all .3s;
        cursor: pointer;
        &:hover{
          background-color: $color2;
        }
      }
    }
    .wrapper{
      display:flex;
      .visualArea{
        width: 100%;
        >section{
          &.datetimeArea{
            margin-bottom: 14px;
            font-size: 58px;
            .dateArea{
              .localArea{
                position: relative;
                font-size: 32px;
                font-weight: bold;
                margin: 10px 0 10px 26px;
                &:after{
                  content: '';
                  position: absolute;
                  top: 20px;
                  left: -26px;
                  transform: translateY(-50%);
                  width: 26px;
                  height: 26px;
                  background: url('../Imgs/fluent_location-16-filled.png') no-repeat center;
                  background-size: cover;
                }
              }
            }
          }

          &.weatherStatusArea{
            position: relative;
            float: left;
            width: calc(50% - 7.5px);
            height: 290px;
            font-size: 30px;
            font-weight: 0;
            padding: 25px;
            border-radius: 10px;
            box-sizing: border-box;
            box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
            >dl{
              .weatherConditionWrap{
                position: relative;
                .weatherConditionArea{
                  position: absolute;
                  width: 180px;
                  height: 180px;
                  background-color: $color2;
                  top: 50%;
                  background: url('../Imgs/fluent_weather-sunny-48-regular.png') no-repeat center;
                }
              }
              .weatherCelWrap{
                position: absolute;
                width: auto;
                bottom: 20px;
                right: 20px;
                .weatherCelArea{
                  font-size: 90px;
                  letter-spacing: -8px;
                }
              }
            }
          }

          &.dustArea{
            margin-left: 15px;
            float: left;
            width: calc(50% - 7.5px);
            position: relative;
            height: 290px;
            box-sizing: border-box;
            >h3{
              position: absolute;
              top: 25px;
              left: 25px;
              font-size: 24px;
            }
            border-radius: 10px;
            box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
            >div{
              float: left;
              >dl{
                margin-top: 100px;
                text-align: center;
              }
            }
          }
        }
        .windWrap{
          clear: both;
          float:left;
          width: calc(50% - 7.5px);
          height: 30%;
          display:flex;
          margin-top: 23px;
          height: 246px;
          >section{
            &.windDirArea{
              position: relative;
              width: calc(50% - 8px);
              height: 100%;
              border-radius: 10px;
              box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
              margin-right: 16px;
              >h3{
                position: absolute;
                top: 25px;
                left: 25px;
                font-size: 24px;
              }
              .windDirImg{
                position: absolute;
                width: 70px;
                height: 70px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: url('../Imgs/fluent-mdl2_wind-direction.png') no-repeat center;
              }
              >dl{
                font-size: 25px;
                position: absolute;
                left: 50%;
                bottom: 36px;
                transform: translateX(-50%);
                >dd{
                  min-width: 65px;
                }
              }
            }
            &.windSpeedArea{
              position: relative;
              width: calc(50% - 8px);
              height: 100%;
              border-radius: 10px;
              box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
              >h3{
                position: absolute;
                top: 25px;
                left: 25px;
                font-size: 24px;
              }
              .windSpeedImg{
                position: absolute;
                width: 84px;
                height: 84px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: url('../Imgs/material-symbols-light_mode-fan-outline.png') no-repeat center;

              }
              >dl{
                font-size: 25px;
                position: absolute;
                left: 50%;
                bottom: 36px;
                transform: translateX(-50%);
              }
            }
          }
        }
        .humidityWrap{
          width: calc(50% - 7.5px);
          height: 246px;
          float: left;
          margin-left: 15px;
          position: relative;
          margin-top: 23px;
          border-radius: 10px;
          box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
          >h3{
            position: absolute;
            top: 25px;
            left: 25px;
            font-size: 24px;
          }
          .pptnWrap{
            position: absolute;
            width: 153px;
            height: 153px;
            padding-top: 96px;
            top: 50%;
            left: 25%;
            text-align: center;
            color: $color3;
            transform: translate(-50%,-50%);
            .pptnTitle{
              font-size: 20px;
            }
            .pptnValue{
              margin-top: 15px;
              font-size: 32px;
            }
          }
          
          .rhWrap{
            position: absolute;
            top: 50%;
            left: 75%;
            color: $color3;
            transform: translate(-50%,-50%);
            width: 153px;
            height: 153px;
            background: url('../Imgs/VectorWater.png') no-repeat center;
            .rhTitle{
              position: absolute;
              top: 35%;
              left: 50%;
              transform: translateX(-50%);
              font-size: 20px;
            }
            .rhValue{
              position: absolute;
              top: 55%;
              left: 50%;
              transform: translateX(-50%);
              font-size: 32px;
            }
          }
        }
        .livingIndexWrap{
          width: 100%;
          position: relative;
          clear: both;
          float: left;
          margin-top: 23px;
          display: flex;
          justify-content: space-between;
          .visualArea{
            position: relative;
            width: 30%;
            height: 268px;
            border-radius: 10px;
            box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
            >h3{
              position: absolute;
              top: 25px;
              left: 25px;
              font-size: 24px;
            }
            >dl{
              position: absolute;
              top: 77px;
              left: 41px;
              width: 80px;
              height: 80px;
              float:left;
              text-align: center;
              line-height: 78px;
              border: 1px solid $color3;
              border-radius: 10px;
            }
            >p{
              position: absolute;
              width: 225px;
              top: 55%;
              left: 60%;
              transform: translateX(-50%);
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800.1px) and (max-width: 1199.99px){
  body{
    font-family: 'SUITE Variable', sans-serif;
    margin:0 auto;
    padding: 30px;
    height: 1028px;
    .blind{
      display: none;
    };
    header{
      position: absolute;
      top: 20px;
      right: 20px;
      h1{
        display:none;
      }

      .manageBtn{
        position: relative;
        z-index: 1;
        width: 48px;
        height: 48px;
        border: none;
        background-color: #fff;
        border-radius: 10px;
        background: url('../Imgs/managementIcon.png') no-repeat center;
        background-size: cover;
        transition: all .2s;
        cursor: pointer;
        &:hover{
          scale: 1.05;
        }
      }
    }
    .wrapper{
      .visualArea{
        >section{
          &.datetimeArea{
            margin-bottom: 14px;
            font-size: 58px;
            .dateArea{
              .localArea{
                position: relative;
                font-size: 32px;
                font-weight: bold;
                margin: 10px 0 10px 26px;
                &:after{
                  content: '';
                  position: absolute;
                  top: 20px;
                  left: -26px;
                  transform: translateY(-50%);
                  width: 26px;
                  height: 26px;
                  background: url('../Imgs/fluent_location-16-filled.png') no-repeat center;
                  background-size: cover;
                }
              }
            }
          }

          &.weatherStatusArea{
            position: relative;
            float: left;
            width: calc(50% - 7.5px);
            height: 290px;
            font-size: 30px;
            font-weight: 0;
            padding: 25px;
            border-radius: 10px;
            box-sizing: border-box;
            box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
            >dl{
              .weatherConditionWrap{
                position: relative;
                .weatherConditionArea{
                  position: absolute;
                  width: 180px;
                  height: 180px;
                  background-color: $color2;
                  top: 50%;
                  background: url('../Imgs/fluent_weather-sunny-48-regular.png') no-repeat center;
                }
              }
              .weatherCelWrap{
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                letter-spacing: -4px;
                margin-bottom: 12px;
                .weatherCelArea{
                  margin-left: 40%;
                  text-align: center;
                  font-size: 82px;
                }
              }
            }
          }

          &.dustArea{
            margin-left: 15px;
            float: left;
            width: calc(50% - 7.5px);
            position: relative;
            height: 290px;
            box-sizing: border-box;
            >h3{
              position: absolute;
              top: 25px;
              left: 25px;
              font-size: 24px;
            }
            border-radius: 10px;
            box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
            >div{
              position: relative;
              float: left;
              width: 100px;
              height: 280px;
              &.fineDustArea{
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translateY(-50%);
              }
              &.ultraFineDustArea{
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translateY(-50%);
              }

              >dl{
                margin-top: 100px;
                text-align: center;
              }
            }
          }
        }
        .windWrap{
          clear: both;
          float:left;
          width: calc(50% - 7.5px);
          height: 30%;
          display:flex;
          margin-top: 23px;
          height: 246px;
          >section{
            &.windDirArea{
              position: relative;
              width: calc(50% - 8px);
              height: 100%;
              border-radius: 10px;
              box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
              margin-right: 16px;
              >h3{
                position: absolute;
                top: 25px;
                left: 25px;
                font-size: 24px;
              }
              .windDirImg{
                position: absolute;
                width: 70px;
                height: 70px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: url('../Imgs/fluent-mdl2_wind-direction.png') no-repeat center;
              }
              >dl{
                font-size: 25px;
                position: absolute;
                left: 50%;
                bottom: 36px;
                transform: translateX(-50%);
                >dd{
                  min-width: 65px;
                }
              }
            }
            &.windSpeedArea{
              position: relative;
              width: calc(50% - 8px);
              height: 100%;
              border-radius: 10px;
              box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
              >h3{
                position: absolute;
                top: 25px;
                left: 25px;
                font-size: 24px;
              }
              .windSpeedImg{
                position: absolute;
                width: 84px;
                height: 84px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: url('../Imgs/material-symbols-light_mode-fan-outline.png') no-repeat center;

              }
              >dl{
                font-size: 25px;
                position: absolute;
                left: 50%;
                bottom: 36px;
                transform: translateX(-50%);
              }
            }
          }
        }
        .humidityWrap{
          width: calc(50% - 7.5px);
          height: 246px;
          float: left;
          margin-left: 15px;
          position: relative;
          margin-top: 23px;
          border-radius: 10px;
          box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
          >h3{
            position: absolute;
            top: 25px;
            left: 25px;
            font-size: 24px;
          }
          .pptnWrap{
            position: absolute;
            width: 153px;
            height: 153px;
            padding-top: 96px;
            top: 50%;
            left: 25%;
            text-align: center;
            color: $color3;
            transform: translate(-50%,-50%);
            .pptnTitle{
              font-size: 20px;
            }
            .pptnValue{
              margin-top: 15px;
              font-size: 32px;
            }
          }
          
          .rhWrap{
            position: absolute;
            top: 50%;
            left: 75%;
            color: $color3;
            transform: translate(-50%,-50%);
            width: 153px;
            height: 153px;
            background: url('../Imgs/VectorWater.png') no-repeat center;
            .rhTitle{
              position: absolute;
              top: 35%;
              left: 50%;
              transform: translateX(-50%);
              font-size: 20px;
            }
            .rhValue{
              position: absolute;
              top: 55%;
              left: 50%;
              transform: translateX(-50%);
              font-size: 32px;
            }
          }
        }
        .livingIndexWrap{
          width: 100%;
          position: relative;
          clear: both;
          float: left;
          margin-top: 23px;
          display: flex;
          justify-content: space-between;
          .visualArea{
            position: relative;
            width: 30%;
            height: 268px;
            border-radius: 10px;
            box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
            >h3{
              position: absolute;
              top: 25px;
              left: 25px;
              font-size: 24px;
            }
            >dl{
              position: absolute;
              top: 77px;
              left: 41px;
              width: 80px;
              height: 80px;
              float:left;
              text-align: center;
              line-height: 78px;
              border: 1px solid $color3;
              border-radius: 10px;
            }
            >p{
              position: absolute;
              width: 225px;
              top: 55%;
              left: 60%;
              transform: translateX(-50%);
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body{
    min-width: 400px;
    font-family: 'SUITE Variable', sans-serif;
    margin:0 auto;
    padding:20px;
    .blind{
      display: none;
    };
    header{
      position: absolute;
      top: 20px;
      right: 20px;
      h1{
        display:none;
      }

      .manageBtn{
        position: relative;
        z-index: 1;
        width: 48px;
        height: 48px;
        border: none;
        background-color: #fff;
        border-radius: 10px;
        background: url('../Imgs/managementIcon.png') no-repeat center;
        background-size: cover;
        transition: all .2s;
        cursor: pointer;
        &:hover{
          scale: 1.05;
        }
      }
      // .manageBtn{
      //   position: relative;
      //   z-index: 1;
      //   width: 48px;
      //   height: 48px;
      //   border: 1px solid $color3;
      //   background-color: #fff;
      //   border-radius: 10px;
      //   background: url('../Imgs/managementIcon.png') no-repeat center;
      //   background-size: cover;
      //   transition: all .3s;
      //   cursor: pointer;
      //   &:hover{
      //     background-color: $color3;
      //   }
      // }
    }
    .wrapper{
      .visualArea{
        >section{
          &.datetimeArea{
            font-size: 32px;
            .dateArea{
              .localArea{
                position: relative;
                display: block;
                font-size: 26px;
                font-weight: bold;
                margin: 10px 0 10px 26px;
                &:after{
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: -26px;
                  transform: translateY(-50%);
                  width: 26px;
                  height: 26px;
                  background: url('../Imgs/fluent_location-16-filled.png') no-repeat center;
                  background-size: cover;
                }
              }
            }
          }

          &.weatherStatusArea{
            position: relative;
            font-size: 30px;
            font-weight: 0;
            padding: 25px;
            height: 437px;
            border-radius: 10px;
            box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
            >dl{
              position: absolute;
              width: 200px;
              height: 200px;
              background-color: $color2;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              background: url('../Imgs/fluent_weather-sunny-48-regular.png') no-repeat center;
              .weatherCelWrap{
                position: absolute;
                bottom: -96px;
                left: 50%;
                transform: translateX(-50%);
                .weatherCelArea{
                  font-size: 96px;
                }
              }
            }
          }

          &.dustArea{
            position: relative;
            border-radius: 10px;
            margin-top: 40px;
            height: 437px;
            box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);

            >h3{
              position: absolute;
              top: 25px;
              left: 25px;
              font-size: 24px;
            }
            >div{
              float: left;
              width: 200px;
              height: 286px;
              &.fineDustArea{
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translateY(-50%);
              }
              &.ultraFineDustArea{
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translateY(-50%);
              }

              >dl{
                margin-top: 100px;
                text-align: center;
              }
            }
          }
        }
        .windWrap{
          display:flex;
          margin-top: 40px;
          >section{
            &.windDirArea{
              position: relative;
              width: calc(50% - 13px);
              height: 246px;
              border-radius: 10px;
              box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
              margin-right: 26px;
              >h3{
                position: absolute;
                top: 25px;
                left: 25px;
                font-size: 24px;
              }
              .windDirImg{
                position: absolute;
                width: 70px;
                height: 70px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: url('../Imgs/fluent-mdl2_wind-direction.png') no-repeat center;
              }
              >dl{
                font-size: 25px;
                position: absolute;
                left: 50%;
                bottom: 36px;
                transform: translateX(-50%);
              }
            }
            &.windSpeedArea{
              position: relative;
              width: calc(50% - 13px);
              height: 246px;
              border-radius: 10px;
              box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
              >h3{
                position: absolute;
                top: 25px;
                left: 25px;
                font-size: 24px;
              }
              .windSpeedImg{
                position: absolute;
                width: 84px;
                height: 84px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: url('../Imgs/material-symbols-light_mode-fan-outline.png') no-repeat center;

              }
              >dl{
                font-size: 25px;
                position: absolute;
                left: 50%;
                bottom: 36px;
                transform: translateX(-50%);
              }
            }
          }
        }
        .humidityWrap{
          position: relative;
          height: 450px;
          margin-top: 40px;
          border-radius: 10px;
          box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
          >h3{
            position: absolute;
            top: 25px;
            left: 25px;
            font-size: 24px;
          }
          .pptnWrap{
            position: absolute;
            bottom: 0;
            left: 50%;
            color: $color3;
            transform: translate(-50%,-50%);
            width: 153px;
            height: 153px;
            .pptnTitle{
              position: absolute;
              bottom: 10%;
              left: 50%;
              transform: translateX(-50%);
              font-size: 20px;
            }
            .pptnValue{
              position: absolute;
              bottom: -20%;
              left: 50%;
              transform: translateX(-50%);
              font-size: 32px;
            }
          }
          
          .rhWrap{
            position: absolute;
            top: 50%;
            left: 50%;
            color: $color3;
            transform: translate(-50%,-50%);
            width: 153px;
            height: 153px;
            background: url('../Imgs/VectorWater.png') no-repeat center;
            .rhTitle{
              position: absolute;
              top: 35%;
              left: 50%;
              transform: translateX(-50%);
              font-size: 20px;
            }
            .rhValue{
              position: absolute;
              top: 55%;
              left: 50%;
              transform: translateX(-50%);
              font-size: 32px;
            }
          }
        }
        .livingIndexWrap{
          margin-top: calc(40px);
          .visualArea{
            margin-top: 16px;
            position: relative;
            height: 388px;
            border-radius: 10px;
            box-shadow: 0 0 16px rgba(125, 144, 255, 0.3);
            >h3{
              position: absolute;
              top: 25px;
              left: 25px;
              font-size: 24px;
            }
            >dl{
              position: absolute;
              top: 77px;
              left: 41px;
              width: 80px;
              height: 80px;
              float:left;
              text-align: center;
              line-height: 78px;
              border: 1px solid $color3;
              border-radius: 10px;
            }
            >p{
              position: absolute;
              width: 225px;
              top: 55%;
              left: 60%;
              transform: translateX(-50%);
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}